<div class="toolbar" role="banner">
  <img width="250px" src="../../assets/download.png" alt="" />
</div>

<div class="toolbar" role="banner">
  <img width="524px" height="1900" src="../../assets/1.png" alt="" />
</div>

<div class="container">
  <form
    class="form-horizontal"
    role="form"
    [formGroup]="formModel"
    class="row g-3"
    autocomplete="off"
  >
    <!-- <div class="col-md-3">
      <label
        for="inputState"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Title'].invalid && formModel.controls['Title'].touched
        }"
        >Title</label
      >
      <select
        id="inputState"
        class="form-select"
        formControlName="Title"
        [ngClass]="{ 'red-border': formModel.controls['Title'].invalid && formModel.controls['Title'].touched }"
      >
        <option selected>Select a suitable title</option>
        <option>Mr</option>
        <option>Mrs</option>
        <option>Miss</option>
        <option>Ms</option>
      </select>
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Title'].invalid && formModel.controls['Title'].touched"
      >
        <div *ngIf="formModel.controls['Title'].errors.required">
          Please select a suitable title
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label
        for="inputIntials"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Initials'].invalid  && formModel.controls['Initials'].touched
        }"
        >Initials</label
      > -->
    <!-- <div>
      <input
        type="text"
        class="form-control"
        id="inputIntials"
        formControlName="Initials"
        [ngClass]="{ 'red-border': formModel.controls['Initials'].invalid && formModel.controls['Initials'].touched  }"
      />
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Initials'].invalid && formModel.controls['Initials'].touched"
      >
        <div *ngIf="formModel.controls['Initials'].errors.required">
          Please enter your initials
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <label
        for="inputName"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Name'].invalid &&
          formModel.controls['Surname'].touched
        }"
        >Name <span class="validation-error-text">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="inputName"
        formControlName="Name"
        [ngClass]="{ 'red-border': formModel.controls['Name'].invalid &&
        formModel.controls['Name'].touched }"
      />
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Name'].invalid"
      >
        <div *ngIf="formModel.controls['Name'].errors.required ">
          Please enter a name.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label
        for="inputSurname"
        class="form-label"
        [ngClass]="{
          'validation-error-text':
            formModel.controls['Surname'].invalid &&
            formModel.controls['Surname'].touched
        }"
        >Surname <span class="validation-error-text">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="inputSurname"
        formControlName="Surname"
        [ngClass]="{
          'red-border':
            formModel.controls['Surname'].invalid &&
            formModel.controls['Surname'].touched
        }"
      />
      <div
        class="validation-error-text"
        *ngIf="
          formModel.controls['Surname'].invalid &&
          formModel.controls['Surname'].touched
        "
      >
        <div *ngIf="formModel.controls['Surname'].errors.required">
          Please enter a surname.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label
        for="inputId"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['IdNumber'].invalid &&
            formModel.controls['IdNumber'].touched}"
        >ID Number <span class="validation-error-text">*</span></label
      >
      <input
        type="number"
        class="form-control"
        id="inputId"
        formControlName="IdNumber"
        [ngClass]="{ 'red-border': formModel.controls['IdNumber'].invalid &&
        formModel.controls['IdNumber'].touched}"
      />
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['IdNumber'].invalid &&
        formModel.controls['IdNumber'].touched"
      >
        <div *ngIf="formModel.controls['IdNumber'].errors.required">
          Please enter an Id number.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label
        for="inputEmail4"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Email'].invalid &&
          formModel.controls['Email'].touched
        }"
        >Email Address <span class="validation-error-text">*</span></label
      >
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        formControlName="Email"
        [ngClass]="{ 'red-border': formModel.controls['Email'].invalid &&
        formModel.controls['Email'].touched }"
      />
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Email'].invalid &&
        formModel.controls['Email'].touched"
      >
        <div *ngIf="formModel.controls['Email'].errors.required">
          Please enter your email.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label
        for="inputCell"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Phone'].invalid &&
          formModel.controls['Phone'].touched
        }"
        >Cell Number <span class="validation-error-text">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="inputCell"
        formControlName="Phone"
        [ngClass]="{ 'red-border': formModel.controls['Phone'].invalid &&
        formModel.controls['Phone'].touched}"
      />
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Phone'].invalid &&
        formModel.controls['Phone'].touched"
      >
        <div *ngIf="formModel.controls['Phone'].errors.required">
          Please select your phone.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label
        for="inputStream"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Career'].invalid &&
          formModel.controls['Career'].touched
        }"
        >Stream/Career <span class="validation-error-text">*</span></label
      >
      <select
        id="inputStream"
        class="form-select"
        formControlName="Career"
        [ngClass]="{ 'red-border': formModel.controls['Career'].invalid &&
        formModel.controls['career'].touched }"
      >
        <option selected></option>
        <option>Business Analyst</option>
        <option>Software Testing</option>
        <option>Systems Support</option>
        <option>C# Full Stack Developer</option>
        <option>Java Full Stack Developer</option>
      </select>
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Career'].invalid
        &&
            formModel.controls['Career'].touched"
      >
        <div *ngIf="formModel.controls['Career'].errors.required">
          Please select your prefered career.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label
        for="inputPassword4"
        class="form-label"
        [ngClass]="{
          'validation-error-text': formModel.controls['Password'].invalid &&
          formModel.controls['Password'].touched
        }"
        >Password <span class="validation-error-text">*</span></label
      >
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        formControlName="Password"
        [ngClass]="{ 'red-border': formModel.controls['Password'].invalid &&
        formModel.controls['Password'].touched}"
      />
      <div
        class="validation-error-text"
        *ngIf="formModel.controls['Password'].invalid &&
        formModel.controls['Password'].touched"
      >
        <div *ngIf="formModel.controls['Password'].errors.required">
          Please enter your password.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="register(formModel)">
      Enroll User <fa-icon [icon]="faAngle"></fa-icon>
    </button>
  </form>
</div>
