mat-card {
  background-color: #FFFFFF;
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, .3);
}

mat-card:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

mat-card-content.backlog {
  border-left: 7px solid #FFB800;
}

mat-card-content.started {
  border-left: 7px solid #1560BD;
}

mat-card-content.paused {
  border-left: 7px solid #D1001F;
}

mat-card-content.completed {
  border-left: 7px solid #45AC42;
}

mat-card-content.archived {
  border-left: 7px solid #6E0280;
}

mat-card-header {
  padding: 0;
  margin: 0;
  border-radius: 0 10px 0 0;
  pointer-events: none;
}

mat-card-header mat-card-title {
  color: #000;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 11pt;
}

mat-card-content {
  display: block;
  padding: 0.4rem;
  pointer-events: none;
}

mat-card-content .goal-content-item {
  display: flex;
  margin-bottom: 0.4rem;
}

mat-card-content .goal-content-item .goal-item-icon {
  margin-right: 0.3rem;
}
