<div class="container-fluid m-0 p-0">
    <div class="card m-0 p-0">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <div>
                        <h6 class="mb-0">REVIEW REQUEST</h6>
                    </div>

                    <!-- <ng-template >
                        <h6 class="mb-0">REVIEW REQUEST</h6>
                    </ng-template> -->
                </div>
                <div class="col-4 text-end">
                    <a (click)="close()" class="cursor-pointer">
                        <i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>

        </div>
        <hr class="horizontal dark" />
        <div class="row p-2">
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="row align-items-center no-gutters ">
                    <div class="col me-2">
                        <div class="fw-bold text-xs mb-2"><span>
                                <p><i class="fa-solid fa-user"></i> Names</p>
                            </span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                                <h6><i class="fa-solid fa-building"></i> client</h6>
                            </span></div>
                        <div class="fw-bold text-xs mb-2"><span>
                                <p><i class="fa-solid fa-briefcase"></i> Career</p>
                            </span></div>
                    </div>


                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Days Used</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <h6>10</h6>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-warning py-2 ">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Days Available</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <h6>2</h6>
                                    </span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1 display-flex"><span>
                                        <p><i class="fa-solid fa-thumbs-up"></i> PARTIALLY APPROVED</p>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second row -->
        <div class="row p-2">
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="row align-items-center no-gutters ">
                    <div class="col me-2">
                        <div class="fw-bold text-xs mb-2"><span>
                                <p> Leave Type</p>
                            </span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                            <select name="cars" id="cars" disabled>
                                <option value="volvo">Annual</option>
                              </select>
                            </span></div>
                    </div>


                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Attachments</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <p>document1 document2</p>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- second row -->

        <!-- third row -->
        <div class="row p-2">
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Days Used</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <h6>10</h6>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                >
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-warning py-2 ">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Days Available</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <h6>2</h6>
                                    </span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-1">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1 display-flex"><span>
                                        <p><i class="fa-solid fa-thumbs-up"></i> PARTIALLY APPROVED</p>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- third row -->
    </div>
</div>