<div class="container-fluid m-0 p-0">
    <div class="card m-0 p-0">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <div>
                        <h6 class="mb-0">REVIEW REQUEST</h6>
                    </div>

                    <!-- <ng-template >
                        <h6 class="mb-0">REVIEW REQUEST</h6>
                    </ng-template> -->
                </div>
                <div class="col-4 text-end">
                    <a (click)="close()" class="cursor-pointer">
                        <i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
            
        </div>
        <hr class="horizontal dark" />
        

    </div>
</div>