<div class="goal-management-controls">
  <button mat-raised-button (click)="addNewGoal()">
    <i class="fa-solid fa-plus"></i>
    <span>ADD NEW GOAL</span>
  </button>
</div>

<div class="goal-management-kanban">
  <app-goal-column-headers
    [backlogCount]="_backlog.length"
    [startedCount]="_started.length"
    [pausedCount]="_paused.length"
    [completedCount]="_completed.length"
    [archivedCount]="_archived.length"
  ></app-goal-column-headers>

  <div class="goal-kanban-content row m-0" cdkDropListGroup>
    <div class="backlog-content col">
      <app-goal-column-list
        [listID]="backlogState"
        [goalsList]="_backlog"
        [onDropRef]="onDropGoal"
        [onViewGoalRef]="onViewGoal"
        [connectedIDList]="[startedState, archivedState]"
      >
      </app-goal-column-list>
    </div>
    <div class="started-content col">
      <app-goal-column-list
        [listID]="startedState"
        [goalsList]="_started"
        [onDropRef]="onDropGoal"
        [onViewGoalRef]="onViewGoal"
        [connectedIDList]="[pausedState, completedState, archivedState]"
      >
      </app-goal-column-list>
    </div>
    <div class="paused-content col">
      <app-goal-column-list
        [listID]="pausedState"
        [goalsList]="_paused"
        [onDropRef]="onDropGoal"
        [onViewGoalRef]="onViewGoal"
        [connectedIDList]="[startedState, archivedState]"
      >
      </app-goal-column-list>
    </div>
    <div class="completed-content col">
      <app-goal-column-list
        [listID]="completedState"
        [goalsList]="_completed"
        [onDropRef]="onDropGoal"
        [onViewGoalRef]="onViewGoal"
        [connectedIDList]="[]"
      >
      </app-goal-column-list>
    </div>
    <div class="archived-content col">
      <app-goal-column-list
        [listID]="archivedState"
        [goalsList]="_archived"
        [onDropRef]="onDropGoal"
        [onViewGoalRef]="onViewGoal"
        [connectedIDList]="[backlogState]"
      >
      </app-goal-column-list>
    </div>
  </div>
</div>
