<div class="goal-management-controls">
  <button mat-raised-button>
    <i class="fa-solid fa-plus"></i>
    <span>ADD NEW GOAL</span>
  </button>
</div>

<div class="goal-management-kanban">
  <app-goal-column-headers
    [backlogCount]="_backlog.length"
    [startedCount]="_started.length"
    [pausedCount]="_paused.length"
    [completedCount]="_completed.length"
    [archivedCount]="_archived.length"
  ></app-goal-column-headers>

  <div class="goal-kanban-content row m-0" cdkDropListGroup>
    <div class="backlog-content col">
      <app-goal-column-list
        [listID]="'backlog'"
        [goalsList]="_backlog"
        [onDropRef]="onDropGoal"
        [connectedIDList]="['started', 'paused', 'archived']"
      >
      </app-goal-column-list>
    </div>
    <div class="started-content col">
      <app-goal-column-list
        [listID]="'started'"
        [goalsList]="_started"
        [onDropRef]="onDropGoal"
        [connectedIDList]="['paused', 'completed', 'archived']"
      >
      </app-goal-column-list>
    </div>
    <div class="paused-content col">
      <app-goal-column-list
        [listID]="'paused'"
        [goalsList]="_paused"
        [onDropRef]="onDropGoal"
        [connectedIDList]="['started', 'archived']"
      >
      </app-goal-column-list>
    </div>
    <div class="completed-content col">
      <app-goal-column-list
        [listID]="'completed'"
        [goalsList]="_completed"
        [onDropRef]="onDropGoal"
        [connectedIDList]="[]"
      >
      </app-goal-column-list>
    </div>
    <div class="archived-content col">
      <app-goal-column-list
        [listID]="'archived'"
        [goalsList]="_archived"
        [onDropRef]="onDropGoal"
        [connectedIDList]="['backlog']"
      >
      </app-goal-column-list>
    </div>
  </div>
</div>

