<!DOCTYPE html>
<html lang="en">

  <div class="toolbar" role="banner">
    <img  width="320px" src="../../assets/download.png" alt="">
    
  </div>


  

<head>  
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'> 


 


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


  <h1 style="  box-sizing: content-box; width: 320px;height: 60px; padding: 30px;
  border: 4px solid 
#A00303; margin: auto;">Track Application</h1>





    <div class="wrapper">
      
        <div class="sidebar">



        </div>
    </div>
    





  

</body>




</html>

