<mat-toolbar class="mat-elevation-z8">
  <img
      height="97px"
      src="../../assets/download.png"
    />
  <span class="example-spacer"></span>
  <button mat-button class="menu-button1" >
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button class="menu-button1" >
    <mat-icon>ballot</mat-icon>
    <span>Leave</span>
  </button>
  <button mat-button class="menu-button1">
    <mat-icon>info</mat-icon>
    <span>IKM</span>
  </button>
  <button mat-button class="menu-button1">
    <mat-icon>perm_contact_calendar</mat-icon>
    <span>Attendance</span>
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="../../assets/blank.png"
    />

    <h4 class="name">Tobatsi Thamae</h4>
    <p class="designation">Admin</p>


    <mat-divider></mat-divider>



    <mat-divider></mat-divider>

    <button mat-button class="menu-button" >
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
    <h1> Enrolled Users </h1>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
