h6 {
  position: relative;
}

h6 .addGoalTask {
    position: absolute;
    right: .5rem;
    font-size: 19pt;
    cursor: pointer;
}

.taskCount {
  position: relative;
  top: -2px;
  margin-left: 0.7rem;
  border: 2px solid grey;
}

.taskCount .countContainer {
  position: relative;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}

.taskCount .countContainer span {
  font-size: 10pt;
  font-weight: bold;
}

.taskcontainer {
  align-items: center;
  justify-content: flex-start;
}

.taskcontainer .task label {
  position: relative;
  user-select: none;
  margin-left: 0.4rem;
}

.taskcontainer .removeTask {
  position: relative;
  margin-left: 0.4rem;
  font-size: 12pt;
  color: red;
  display: flex;
  transition: all 0.5s;
  cursor: pointer;
}

.taskcontainer:hover .removeTask {
  display: flex;
}
