<div class="toolbar" role="banner">
    <img  width="292px" src="../../assets/download.png" alt="">
</div>
<div class="container">
            <form class="form-horizontal" role="form" [formGroup]="formModel" (submit) = "login(formModel)">
                <h2>Log In</h2>
                <div class="form-group">
                    <label
                      for="inputEmail4"
                      class="form-label"
                      [ngClass]="{
                        'validation-error-text': formModel.controls['Email'].invalid &&
                        formModel.controls['Email'].touched
                      }"
                      >Email Address <span class="validation-error-text">*</span></label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="inputEmail4"
                      formControlName="Email"
                      [ngClass]="{ 'red-border': formModel.controls['Email'].invalid &&
                      formModel.controls['Email'].touched }"
                    />
                    <div
                      class="validation-error-text"
                      *ngIf="formModel.controls['Email'].invalid &&
                      formModel.controls['Email'].touched"
                    >
                      <div *ngIf="formModel.controls['Email'].errors.required">
                        Please enter your email.
                      </div>
                    </div>
                </div>


                <div class="form-group">
                    <label
                      for="inputPassword4"
                      class="form-label"
                      [ngClass]="{
                        'validation-error-text': formModel.controls['Password'].invalid &&
                        formModel.controls['Password'].touched
                      }"
                      >Password <span class="validation-error-text">*</span></label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword4"
                      formControlName="Password"
                      [ngClass]="{ 'red-border': formModel.controls['Password'].invalid &&
                      formModel.controls['Password'].touched}"
                    />
                    <div
                      class="validation-error-text"
                      *ngIf="formModel.controls['Password'].invalid &&
                      formModel.controls['Password'].touched"
                    >
                      <div *ngIf="formModel.controls['Password'].errors.required">
                        Please enter your password.
                      </div>
                  </div>

                        <div class="checking">
                            <a href="##">Forgot your password?</a>
                        </div>

                    </div>

                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>


</div>
<footer>
  <p class = "text-center">geeks4learning © 2022 Powered by geeks4learning Technologies
  <br><i>Terms and conditions | Privacy policy</i> </p>

</footer>

