<div class="toolbar" role="banner">
    <img  width="292px" src="../../assets/download.png" alt="">
    
</div>

<div class="container">
    <!-- <img  src="../../assets/found.svg" alt=""> -->
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="text-center">
                    <h1>Log in</h1>
                </div>
            
            <form action="">
               
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
            </form>

                <div class="checking">
                    <a href="##">Forgot your password?</a>
                    <p>Don't have an account? <a  routerLink ="/register">Sign up</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

<footer>
    <p class = "text-center">geeks4learning © 2022 Powered by geeks4learning Technologies 
    <br><i>Terms and conditions | Privacy policy</i> </p> 
    
</footer>

<router-outlet></router-outlet>


