h1{
    color: rgb(0, 255, 85);
}
.spacer {
    flex: 1;
  }

  .toolbar {
   
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(1, 52, 255);
    font-weight: 600;
  }

  .toolbar img {
    margin: 16px;
    margin-top: 70px;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: #0f489e;
    text-align: center;
    top: 94%;
    width: 100%;
  }

  footer a {
    display: flex;
    align-items: center;
  }
  .text-center {
    text-align: center;
    margin: 0 auto;
  }
  .card{
    /* margin: 50%; */
    border: none;
    width: 610px;
    padding: 40px;
    color: rgb(255, 251, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    background: #4579c8;
    background: linear-gradient(90deg, #f88888,#3c6aaf, 100% );

  }
  .checking{
    margin: 0 auto;
  }
  .checking a{
    color: rgb(251, 5, 5);
  }